@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erreur</title>

</head>

<body>
    <div>Erreur, cette machine s'autodétruira dans 15 secondes !</div>

</body>

</html>