@model CorrectionJ2.Models.Film

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Visionne</title>

</head>

<body>
    <div>Le film <strong>@Model.Titre</strong> a bien été visionné.</div>
    <div>Il a été réalisé par <strong>@Model.Realisateur</strong> en <strong>@Model.Annee .</strong> </div>

</body>

</html>